networks:
  godoxy_default:
    external: true

services:
  web:
    container_name: term
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    # image: nginx:1.17-alpine
    restart: always
    ports:
      - 8080:80
    depends_on:
      - proxy
    command: nginx -g 'daemon off;'
    networks:
      godoxy_default:
        ipv4_address: 172.18.0.14
  proxy:
    container_name: term-proxy
    build:
      context: ./proxy
      dockerfile: Dockerfile
    hostname: proxy
    volumes:
      - ./proxy/logs/:/logs/
    command:
      - ./proxy
      - -al
      - /logs/connections.log
    #    ports:
    #      - 6666:6666
    restart: always
    networks:
      godoxy_default:
        ipv4_address: 172.18.0.15
    labels:
      proxy.exclude: true
      proxy.term-proxy.port: 6666
